.checkout-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 15vw;
}

@media (max-width: 600px) {
  .checkout-details {
    width: 100%;
  }
}
